.arrow-block {
  $root: &;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15vw;
  display: flex;
  align-items: center;
  z-index: 20;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
    justify-content: flex-end;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 120px;
    aspect-ratio: 1;
    background-color: $accent;
    border-radius: 50%;
    color: $dark--400;
    transition-property: scale, background-color, transform;
    transition-duration: $animation-duration;
    transition-timing-function: ease-out;

    &--left {
      justify-content: flex-end;
      transform: translateX(-90%);
      transform-origin: 0% 50%;

      @media (width <= 1024px) {
        transform: translateX(-50%);
      }
    }

    &--right {
      transform: translateX(90%);
      transform-origin: 100% 50%;

      @media (width <= 1024px) {
        transform: translateX(50%);
      }
    }

    @media (hover: hover) {
      &:hover {
        scale: 1.4;
        background-color: $light;
      }
    }

    @media (width <= 1024px) {
      width: 60px;
    }
  }

  @media (hover: hover) {
    &:hover {
      #{$root} {
        &__link--left {
          transform: translateX(-50%);
        }

        &__link--right {
          transform: translateX(50%);
        }
      }
    }
  }
}
