.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 160px;
    aspect-ratio: 1;
    border: 1px solid rgba($accent, 0.05);
    border-radius: 10px;
    padding: 15px;
    color: $accent;

    @media (width <= 768px) {
      flex-basis: 120px;
    }

    @media (width <= 375px) {
      flex-basis: 90px;
    }
  }

  @media (width <= 768px) {
    column-gap: 20px;
    row-gap: 30px;
  }
}
