$icon-sizes: 34, 54, 64;

.icon {
  display: inline-block;
  aspect-ratio: 1;

  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }

  &--54 {
    @media (width <= 768px) {
      width: 44px;
    }
  }

  &--64 {
    @media (width <= 1024px) {
      width: 34px;
    }

    @media (width <= 375px) {
      width: 30px;
    }
  }
}
