.preloader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark--400;
  animation-name: hide;
  animation-duration: $animation-duration;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 100;
  overflow: hidden;
}

@keyframes hide {
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

.preloader {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 20px;
  background-color: $accent;
  outline: 2px solid $accent;
  outline-offset: 5px;

  &__path {
    stroke: $dark--400;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation-name: dash;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
