.header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  z-index: 10;

  &__subtitle {
    @extend %h2;
  }

  &__title {
    @extend %h1;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__text {
    @extend %p;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $accent;
    transition-property: scale, color;
    transition-duration: $animation-duration;
    transition-timing-function: ease-out;

    @media (hover: hover) {
      &:hover {
        scale: 1.6;
        color: $light;
      }
    }
  }
}
