html,
body {
  height: 100%;
}

html {
  cursor: none;
  overflow: hidden;
}

body {
  font-family: $main-font;
  background-color: $dark--400;
  color: $accent;
  overflow: auto;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 50%;
  translate: 0 -50%;
}

.svg-settings {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  cursor: none;
}
